/* General helpers
-------------------------------------------------------------------------*/
.u-inline {
  display: inline;
}

.margin-h {
  margin: 0 0.5rem;
}

/* Specific Element Overrides
-------------------------------------------------------------------------*/
#start-url {
  width: 30rem;
}
