/* General helpers
-------------------------------------------------------------------------*/
.u-inline {
  display: inline;
}

.margin-h {
  margin: 0 0.5rem;
}

.t-green {
  color: #228B22;
}

.t-red {
  color: #DC143C;
}

/* Specific Element Overrides
-------------------------------------------------------------------------*/
html, body {
  height: 100%;
}

.container {
  min-height: 100%;
}

#start-url {
  width: 30rem;
}

section#main-content {
  padding-bottom: 4rem;
}

footer {
  bottom: 0;
  height: 4rem;
  padding-top: 1rem;
  position: absolute;
  text-align: center;
  width: 100%;
}
