###### Elm Ignores #########
web/static/js/elm/elm-stuff

###### Node Ignores #########
/node_modules

###### Phoenix Ignores #########
# App artifacts
/_build
/deps
/*.ez
/priv/static/js/*.js*

# Generate on crash by the VM
erl_crash.dump

